body{
    font-size: 25px;
    font-family: Arial;
    color: rgb(33, 23, 23);
    text-align: center;
    background : linear-gradient(to left , rgb(155, 199, 211) , rgb(227, 170, 221));
}
.input-text{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(162, 156, 156);
    border: none;
    padding-left: 30px;
    margin-top: 50px;
}
.input-date{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(142, 142, 142);
    border: none;
    padding-left: 10px;
    margin-top: 50px;
    cursor: pointer;
}
.add{
    color: white;
    height: 50px;
    width: 80px;
    border-radius: 5px;
    margin-left: 30px;
    background-color: rgb(7, 161, 7);
    border: none;
    cursor: pointer;
}
.add:hover{
    box-shadow: 1px 1px 8px rgb(49, 119, 44);
}
.input-text::placeholder{
    color: rgb(0, 0, 0);
}
.display_toDo {
    color: white;
    list-style-type: decimal; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 620px;
    margin: 10px auto;
    border-radius: 30px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    gap: 10px;
    align-items: center;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.1);
}
.task {
    display: contents;
}
.delete-todo {
    height: 35px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: rgb(199, 59, 59);
    color: white;
    cursor: pointer;
}
.delete-todo:hover {
    box-shadow: 1px 1px 8px rgb(180, 49, 49);
}